MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=bookstore
MYSQL_USER=bookstore
MYSQL_PASSWORD=bookstore
DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
IDENTITY_SERVICE_URL=http://identity-service:8000
CATALOG_SERVICE_URL=http://catalog-service:8000
